.navbar-brand {
    display: flex;
    align-items: center;
    white-space: normal;
    word-break: break-all;
}

/* Zmiana ikony na biała */
.dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Zmiana focusu ikony na biały */
.dark .navbar-toggler:focus {
    box-shadow: 0 0 0 0.2rem rgb(255, 255, 255);
}

.logo{
    height: 75px;
    width: 70px;
    margin-right: 20px;
}

.dark .active{
    color: rgb(156 163 175);
}

.active{
    color:rgb(29 78 216);
}


html {
    font-size: 14px;
}

.logout{
    cursor: pointer;
}


.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

